{{define "body"}}
    <!doctype html>
    <html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
    <h3>Dear {{.Name}}</h3>

<p>You recently requested a password reset for your account.</p>

<p>Visit the following link to reset your password:</p>

<a href="{{.Link}}">Click here to reset your password</a>
    </body>
    </html>
{{end}}