.idea
/app/microGo
/microGo/vendor
app/.DS_Store
app/data/.DS_Store
app/middleware/auth-token.go
app/middleware/auth.go
app/middleware/remember.go
app/data/token.go
app/data/user.go
app/data/remember_token.go
app/handlers/auth-handlers.go
app/mail/reset-password.html.tmpl
app/mail/reset-password.plain.tmpl
app/migrations
app/tmp
app/vendor
app/migrations/*.sql
cache/testdata/tmp/badger/*
app/views/login.jet
app/views/forgot.jet
app/views/reset-password.jet
.vscode/*
.DS_Store
dist/*