<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MicroGo - Golang Framework</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta name="csrf_token" content="{{.CSRFToken}}">
    <link rel="apple-touch-icon" sizes="180x130" href="/public/ico/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x24" href="/public/ico/favicon.png">
    <link rel="icon" type="image/png" sizes="16x10" href="/public/ico/favicon.png">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
                <div>
                    <h1>Test</h1>
                    <img src="/public/images/goLogo.svg" class="mb-5" style="width: 200px;height:auto;">
                    <h1>microGo (Go Templates)</h1>
                    <hr>
                    <small class="alert alert-info">Go build something awesome</small>
                    <a href="/" class="list-group-item list-group-item-action btn ">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>